"*":
  "exception-reporting":
    userId: "d873afba-9978-f1e8-8be8-d03d4eb3fc34"
  welcome:
    showOnStartup: false
  core:
    disabledPackages: [
      "autocomplete-ruby"
      "linter-jsxhint"
      "theme-roulette"
      "language-jsx"
      "atom-erb"
      "notebook"
      "nuclide-flow"
      "nuclide-hack"
      "nuclide-hg-repository"
      "nuclide-installer"
      "nuclide-language-hack"
      "nuclide-click-to-symbol"
    ]
    projectHome: "/Users/boris/Sites"
  editor:
    invisibles: {}
    fontSize: 18
    fontFamily: "Hack"
    showIndentGuide: true
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
    subtleLinterErrors: [
      "rubocop"
    ]
  react: {}
  "linter-rubocop":
    rubocopExecutablePath: "/Users/boris/.rbenv/shims/rubocop"
    executablePath: "/Users/boris/.rbenv/shims/rubocop"
  "autocomplete-plus": {}
  "grunt-runner": {}
  "tree-view": {}
  "oblique-strategies":
    showAfterInactivitySeconds: 60
  "linter-jshint": {}
  "atom-beautify":
    _analyticsUserId: "0252158c-9432-4627-b72c-fe2cd77d08d4"
  "css-comb":
    config: "custom"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    remoteProjectsConfig: []
  "linter-reek":
    executablePath: "/Users/boris/.rbenv/versions/2.2.0/bin/reek"
  "markdown-writer": {}
